
// @font-face {
//   font-family: 'Pt-Sans';
//   src : url('../static/assets/fonts/PT-Sans/PTSans-Regular.ttf') format('truetype');
// }

body{
  font-family: Arial, Helvetica, sans-serif; // PT-Sans, 
  font-style: normal;
  font-weight: normal;
  font-size:14px;
}
